.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background: linear-gradient(to bottom, rgba(104, 25, 179, 0.253) 50%, rgba(193, 139, 238, 0.603) 50%);
}

.perfil__imagen {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #a45fe4;
}
.hojaVida{
    background-color: #250846a8;
    color: aliceblue;
    padding: 3px 16px;
    border-radius: 8px;
}

.perfil__rol {
    color: #18161b;
    font-size: 1.1rem;
}


@media (max-width: 600px) {
    .perfil__imagen {
        width: 130px;
        height: 130px;
    }
}